* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

h1 {
  font-family: sans-serif;
  color: white;
  font-size: 50px;
  transform: translateY(50%);
}

.score {
  position: absolute;
  pointer-events: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.score--currentScore {
  transform: translateX(115%);
}

.score--currentCombo {
  transform: translateX(200%);
  top: 5rem;
}

.hidden {
  display: none;
}
/* Could be interesting to have both blur and height
  be the variables to difficulty*/
#spellIcon {
  pointer-events: none;
  position: absolute;
  filter: blur(15px);
  top: 16.5rem;
  height: 25rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.timer {
  position: absolute;
}

.btn {
  position: relative;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

div {
  transform: translateY(50rem);
  padding: 20px;
}

.btn--answer {
  position: inherit;
  margin-right: 20px;
  min-width: 250px;
  width: max-content;
}

/* .btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
} */
